<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        <li
          *ngFor="let task of taskByFilter(); index as i"
          [class.completed]="task.completed"
          [class.editing]="task.editing"
          (dblclick)="editTaskClass(i)"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
              (change)="updateTask(i)"
            />
            <label>{{ task.title }}</label>
            <button (click)="deteleTask(i)" class="destroy"></button>
          </div>
          <input
            class="edit"
            (keydown.enter)="editTaskText(i, $event)"
            [value]="task.title"
          />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong> {{ taskByFilter().length }} </strong>
        <span
          *ngIf="
            taskByFilter().length > 1 || tasks().length === 0;
            else elseBlock
          "
          >items</span
        >
        <ng-template #elseBlock>item</ng-template>
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li class="pointer" (click)="changeFilter('all')">
          <a routerLink="/" [class.selected]="filter() === 'all'">All</a>
        </li>
        <li class="pointer" (click)="changeFilter('pending')">
          <a routerLink="/pending" [class.selected]="filter() === 'pending'"
            >Pending</a
          >
        </li>
        <li class="pointer" (click)="changeFilter('completed')">
          <a routerLink="/completed" [class.selected]="filter() === 'completed'"
            >Completed</a
          >
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
